<!-- Footer Bar -->
</div>
<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-links">
      <li><a href="/homepage.html">Blog</a></li>
      <li><a href="/#about-screen">About</a></li>
      <li><a href="/#contact-screen">Contact</a></li>
    </ul>
    <ul class="footer-social-media-links">
      <li><a target = "_blank" href="https://www.linkedin.com/in/austin-tarrach/"><img class="linkedin-link" src="/Icons/linkedin_icon.png" alt="LinkedIn Logo"></a></li>
      <li><a target = "_blank" href="https://github.com/kingTarrach"><img class="github-link" src="/Icons/github-icon.png" alt="GitHub Logo"></a></li>
    </ul>
  
<!-- Bottom Copyright -->
</nav>
<div class="true-center">
  <p>Copyright © Austin's Blog</p>
</div>
</footer>