

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a href="/" class="navbar-logo">Austin Tarrach</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left side of navigation bar -->
      <ul class="navbar-nav mr-auto nav-links">
        <li class="nav-item"><a class="nav-link" href="/blog_homepage">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about-screen">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact-screen">Contact</a></li>
      </ul>
      <!-- Right side of navigation bar -->
      <ul class="navbar-nav header-social-media-links">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="socialMediaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Connect
          </a>
          <!-- Social media links -->
          <div class="dropdown-menu" aria-labelledby="socialMediaDropdown">
            <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/austin-tarrach/">LinkedIn</a>
            <a class="dropdown-item" target="_blank" href="https://github.com/kingTarrach">GitHub</a>
          </div>
        </li>
        <!-- Sign in/register button -->
        <li class="nav-item">
          <a class="btn btn-primary" href="/users/login" role="button">Sign In/Register</a>
        </li>
      </ul>
    </div>
  </nav>