
<div class="sidebar">
  <div class="sidebar-item" onclick="window.open('https://www.linkedin.com/in/austin-tarrach/', '_blank')">
    <img src="/Icons/linkedin_icon.png" alt="LinkedIn">
    <span>LinkedIn</span>
  </div>
  <div class="sidebar-item" onclick="window.open('https://github.com/kingTarrach', '_blank')">
    <img class ="github-item" src="/Icons/github-icon.png" alt="GitHub">
    <span>GitHub</span>
  </div>
  <div class="sidebar-item" onclick="window.open('https://drive.google.com/file/d/1e2xHvySujWlV-c1B5i67ajoFwqy66ztu/view?usp=sharing', '_blank')">
    <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="Resume">
    <span>Resume</span>
  </div>
</div>