<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/Styles/austin_tarrach_navbar.css">
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="/Styles/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <%- include('partials/navbar') %>

    <% if (errors && errors.length > 0) { %>
      <div class="alert alert-danger">
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    
    <h1 class="top-header">Register</h1>
    
      <form action="/users/register" method="POST">
        <div class="register-box">
          <p class="above-text">Username</p>
          <input class="textbox" type="text" id="username" name="name" placeholder="Enter Here" maxlength="30" required>
          <p class="above-text">Email address</p>
          <input class="textbox" type="text" id="email" name="email" placeholder="Enter Here" maxlength="60" required>
          <p class="above-text">Create password</p>
          <input class="textbox" type="password" id="password" name="password" placeholder="Enter Here" maxlength="30" required>
          <p class="above-text">Retype password</p>
          <input class="textbox" type="password" id="password2" name="password2" placeholder="Enter Here" maxlength="30" required>
          <button type="submit" class="login-button">Register</button>
        </div>
      </form>
      <a href="/users/login" class="bottom-button">
        <span>Already have an Account? Login</span>
      </a>

      <%- include('partials/footer') %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>

